extends default 

block meta
    - var artists = ""
    each artist in album.artists
        - artists += `${artist.name}, `
    //- - artists = artists.substring(0, artists.length - 1);
    - var desc = `${album.score}% - ${album.review}`
    if album.review.length < 1
        - desc = desc.substr(0, desc.length - 3)

    meta(content=`${album.name} - ${artists.substr(0, artists.length - 2)}` property="og:title")
    meta(content=`${desc}` property="og:description")
    meta(content=`https://music.ssingh.net/album/${album.id}` property="og:url")
    meta(content=`${album.image}` property="og:image")

block main
    div.row.align-items-start
        div.col-lg-6.col-12.align-self-center
            br
            br
            img.album-image(src=`${album.image}`)

        div.col-lg-4.col-12.align-self-center
            br
            br
            h1 #{album.name}
            each artist in album.artists
                span.badge.badge-artist
                    a(href=`/artist/${artist.id}`)
                        img.artist-image-small.me-2(src=`${artist.image}`)
                        | #{artist.name}
            br
            br
            h5 
                a.link(href=`/year/${album.releaseDate.substr(0,4)}`) #{album.releaseDate.substr(0,4)}
                |#{album.releaseDate.substr(4)}
            br
            br
            each tag in album.tags
                - var theStyle = ""
                if tag.color != null 
                    - var theStyle = "background-color:#" + tag.color
                span.badge.badge-tag(style=theStyle)
                    a(href=`/tag/${tag.id}`) #{tag.name}
            br
        div.col-lg-2.col-12.align-self-center
            br
            br
            div.album-score 
                span #{album.score}%
            br
    br 
    br
    hr(width="100%")
    p 
        | !{album.review}