extends default 

block main
    div.row.align-items-start
        div.col-lg-6.col-12.align-self-center
            br
            br
            img.artist-image(src=`${artist.image}`)
            br
            br
            h2(style="font-weight:900;") #{artist.name}
        div.col-lg-6.col-12.align-self-center
            br
            br
            form.dropdown
                input#type(type="hidden", value="artist")
                label(for="sortBy") sort by: 
                select#sort(name="sortBy", onchange="sortRedirect()")  
                    option(value="score ASC") score (0-100)
                    option(value="score DESC") score (100-0)
                    option(value="name ASC") name (A-Z)
                    option(value="name DESC") name (Z-A)
                    option(value="releaseDate ASC") release date (oldest to newest)
                    option(value="releaseDate DESC") release date (newest to oldest)
            script(src="/scripts/sort.js") 
            each album in albums
                span.badge.badge-album
                    a(href=`/album/${album.id}`) 
                        table
                            tr
                                td(rowspan=2)
                                    img.album-image-small.me-3(src=`${album.image}`)
                                td.badge-album-name #{album.name}
                                td(rowspan=1).album-score-small #{album.score}%
                            tr
                                td.album-artist
                                    each artist, index in album.artists
                                        |#{artist.name}
                                        if index < album.artists.length - 1
                                            |, 
                                td.album-year #{album.releaseDate.substr(0,4)}
                br