extends default
block main
    h1.title #{pageTitle}
    form.dropdown(action="") 
        label(for="year") year:
            select#year(name="year", onchange="yearRedirect()")  
                option(value="all-time") All-Time
                - var year = 2023
                while year > 1950 
                    option(value=`${year}`) #{year}
                    - year--
    script(src="/scripts/chartYear.js") 
    br
    br
    if albums.length == 0
        h5 no results 
    else
        div.row
            
            - var count = 1
            - var previousScore = albums[0].score
            each alb in albums
                div.col-lg-4.col-12#album-item-container
                    if previousScore != alb.score
                        -previousScore = alb.score
                        -count++
                    a(href=`/album/${alb.id}`)
                        div.album-item-wrapper
                            div.album-item
                                img.album-image(src=`${alb.image}`) 
                                div.album-image-faded 
                                span.album-image-spacer
                                span.album-rank #{count}
                                span.album-name #{alb.name}
                                br
                                br
                                each artist in alb.artists
                                    //- span.badge.badge-artist
                                    a.artist-name(href=`/artist/${artist.id}`)
                                        img.artist-image-small.me-2(src=`${artist.image}`)
                                        | #{artist.name}
                                    |&nbsp;&nbsp;&nbsp;
                                br
                                br
                                table(width="100%")
                                    tr 
                                        td
                                            span.album-release #{alb.releaseDate}
                                        td
                                            div.album-score-s-wrapper 
                                                span.album-score-s #{alb.score}%
                                        td(style="padding:0.2vmax;")
                                br
                                br
                                br                
                    br
                    br