extends default
block main
    h1.title #{pageTitle}
    br
    div.row
        - var count = 1
        - var previousScore = albums[0].score
        each alb in albums
            div.col-12#album-item-container
                if previousScore != alb.score
                    -previousScore = alb.score
                    -count++
                a(href=`/album/${alb.id}`)
                    - var x = " "
                    if count % 2 == 0
                        - var x = "album-item-long-alt"
                    div.album-item-long(class=x)
                        table 
                            tr 
                                td(style="width:10%") 
                                    h2 #{count}
                                td(style="width:30%") 
                                    img.album-image(src=`${alb.image}`) 
                                td(style="width:50%") 
                                    br
                                    span.album-name #{alb.name}
                                    br
                                    br
                                    each artist in alb.artists
                                        //- span.badge.badge-artist
                                        a(href=`/artist/${artist.id}`)
                                            img.artist-image-small.me-2(src=`${artist.image}`)
                                            | #{artist.name}
                                        |&nbsp;&nbsp;&nbsp;
                                    br
                                    br
                                    span.album-release.text-right #{alb.releaseDate}

                                td(style="width:10%") 
                                    span.album-score-s #{alb.score}%
                br
                br