extends default
block main
    h1.title #{pageTitle}
    form.dropdown(action="") 
        label(for="year") year:
            select#year(name="year", onchange="yearRedirect()")  
                option(value="all-time") All-Time
                - var year2 = 2024
                while year2 > 1950 
                    option(value=`${year2}`) #{year2}
                    - year2--
    script(src="/scripts/chartYear.js") 
    br
    br
    if albums.length == 0
        h5 no results 
    else
        div.row        
            - var count = 1 + (offset > 0 ? offset + 1: 0)
            each alb in albums
                if !alb.listenedTo
                    - continue
                div.col-lg-4.col-md-6.col-12#album-item-container
                    a(href=`/album/${alb.id}`)
                        div.album-item-wrapper
                            div.album-item
                                img.album-image(src=`${alb.image}`) 
                                div.album-image-faded 
                                span.album-image-spacer
                                span.album-rank #{count++}
                                span.album-name #{alb.name}
                                br
                                br
                                div.artist-wrapper
                                    each artist in alb.artists
                                        //- span.badge.badge-artist
                                        a.artist-name(href=`/artist/${artist.id}`)
                                            if artist.image != null
                                                img.artist-image-small.me-2(src=`${artist.image}`)
                                            | #{artist.name}
                                        |&nbsp;&nbsp;&nbsp;
                                br
                                br
                                table(width="100%")
                                    tr 
                                        td
                                            span.album-release #{alb.releaseDate}
                                        td
                                            div.album-score-s-wrapper 
                                                span.album-score-s #{alb.score}%
                                        td(style="padding:0.2vmax;")
                                br
                                br
                                br                
                    br
                    br
        if page-1 >= 0 && page-1 <= maxPage-1
            span.badge.badge-tag(style="font-size:1em;")
                a(href=`/charts?page=${page-1}&year=${year}`) <
        
        if page+1 <= maxPage
            span.badge.badge-tag(style="font-size:1em;")
                a(href=`/charts?page=${page+1}&year=${year}`) >
    script(src="/scripts/truncateNames.js") 
